.avatar {
    border-radius: 50%;
    margin: 10px;
}

.card {
    width: fit-content;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 20px;
    background: #fff;
}

.action-button {
    margin: 10px;
}

.toolbar {
    background: #aaa;
    padding: 5px;
}